.element {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .overlap-wrapper {
  background-color: #f9f9f9;
  overflow: hidden;
  width: 1920px;
  height: 3787px;
}

.element .overlap {
  position: relative;
  height: 4725px;
  border-radius: 15.11px;
}

.element .frame {
  position: absolute;
  width: 1920px;
  height: 4725px;
  top: 0;
  left: 0;
  background-color: #f9f7f7;
  border-radius: 15.11px;
  overflow: hidden;
  box-shadow: -7px 14px 5px #1015880f;
}

.element .overlap-group {
  position: absolute;
  width: 1920px;
  height: 3066px;
  top: 720px;
  left: 0;
}

.element .img {
  position: absolute;
  width: 436px;
  height: 436px;
  top: 2111px;
  left: 1298px;
}

.element .frame-2 {
  position: absolute;
  width: 463px;
  height: 463px;
  top: 400px;
  left: 1268px;
}

.element .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.element .rectangle {
  position: relative;
  width: 1920px;
  height: 937px;
  background: linear-gradient(180deg, rgba(246, 243, 244, 0.25) 0%, rgba(250.95, 240.98, 241.38, 0.25) 100%);
}

.element .rectangle-2 {
  position: relative;
  width: 1920px;
  height: 872px;
  background-color: #ffffff;
}

.element .p {
  position: absolute;
  top: 118px;
  left: 725px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper {
  color: #f6013e;
}

.element .span {
  color: #1e2028;
}

.element .div-2 {
  position: absolute;
  top: 1055px;
  left: 830px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 52px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .KOC {
  position: absolute;
  top: 1927px;
  left: 618px;
  color: var(--variable-collection);
  font-size: 52px;
  text-align: center;
  line-height: normal;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.element .group {
  position: absolute;
  width: 1207px;
  height: 548px;
  top: 269px;
  left: 361px;
}

.element .overlap-2 {
  position: relative;
  width: 1202px;
  height: 587px;
  top: -10px;
  left: -3px;
}

.element .ellipse {
  position: absolute;
  width: 554px;
  height: 554px;
  top: 8px;
  left: 648px;
}

.element .ellipse-2 {
  position: absolute;
  width: 285px;
  height: 285px;
  top: 142px;
  left: 781px;
  background-color: #ffffff;
  border-radius: 142.67px/142.49px;
  transform: rotate(180deg);
}

.element .ellipse-3 {
  position: absolute;
  width: 261px;
  height: 96px;
  top: 99px;
  left: 811px;
}

.element .ellipse-4 {
  position: absolute;
  width: 261px;
  height: 96px;
  top: 99px;
  left: 133px;
}

.element .ellipse-5 {
  position: absolute;
  width: 263px;
  height: 88px;
  top: 378px;
  left: 814px;
}

.element .ellipse-6 {
  position: absolute;
  width: 241px;
  height: 137px;
  top: 337px;
  left: 210px;
}

.element .rectangle-3 {
  position: absolute;
  width: 68px;
  height: 67px;
  top: 251px;
  left: 977px;
}

.element .rectangle-4 {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 267px;
  left: 837px;
}

.element .ellipse-7 {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 203px;
  left: 1033px;
}

.element .ellipse-8 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 222px;
  left: 864px;
  background-color: #ea5f4d;
  border-radius: 62.46px/62.39px;
  transform: rotate(180deg);
}

.element .ellipse-9 {
  position: absolute;
  width: 390px;
  height: 389px;
  top: 90px;
  left: 422px;
  background-color: #f5dcdd;
  border-radius: 194.84px/194.6px;
  opacity: 0.2;
}

.element .ellipse-10 {
  position: absolute;
  width: 554px;
  height: 554px;
  top: 8px;
  left: 0;
}

.element .ellipse-11 {
  position: absolute;
  width: 285px;
  height: 285px;
  top: 142px;
  left: 136px;
  background-color: #ffffff;
  border-radius: 142.67px/142.49px;
}

.element .rectangle-5 {
  position: absolute;
  width: 87px;
  height: 87px;
  top: 184px;
  left: 172px;
}

.element .rectangle-6 {
  position: absolute;
  width: 87px;
  height: 87px;
  top: 302px;
  left: 175px;
}

.element .rectangle-7 {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 267px;
  left: 333px;
}

.element .ellipse-12 {
  position: absolute;
  width: 588px;
  height: 587px;
  top: 0;
  left: 308px;
}

.element .ellipse-13 {
  position: absolute;
  width: 440px;
  height: 440px;
  top: 72px;
  left: 383px;
}

.element .ellipse-14 {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 326px;
  left: 53px;
}

.element .ellipse-15 {
  position: absolute;
  width: 164px;
  height: 164px;
  top: 80px;
  left: 52px;
}

.element .ellipse-16 {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 139px;
  left: 458px;
}

.element .logo {
  position: absolute;
  width: 113px;
  height: 76px;
  top: 252px;
  left: 547px;
}

.element .frame-3 {
  display: flex;
  flex-direction: column;
  width: 77px;
  height: 72px;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 142px;
  left: 464px;
}

.element .ellipse-17 {
  position: relative;
  width: 101.78px;
  height: 101.78px;
  margin-top: -17.53px;
  margin-bottom: -11.94px;
  margin-left: -12.56px;
  margin-right: -12.56px;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-bottom: -47.25px;
  margin-left: -9.67px;
  margin-right: -9.67px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #ec6b59;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
  top: -28px;
}

.element .frame-4 {
  display: flex;
  flex-direction: column;
  width: 51px;
  height: 72px;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 142px;
  left: 664px;
}

.element .ellipse-18 {
  position: relative;
  width: 101.78px;
  height: 101.78px;
  margin-top: -17.53px;
  margin-bottom: -11.94px;
  margin-left: -25.34px;
  margin-right: -25.34px;
}

.element .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-bottom: -5.25px;
  margin-left: -22.45px;
  margin-right: -22.45px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #ec6b59;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 15.6px;
  white-space: nowrap;
  top: -20px;
}

.element .frame-5 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 148px;
  left: 674px;
}

.element .frame-6 {
  display: flex;
  flex-direction: column;
  width: 53px;
  height: 72px;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 292px;
  left: 700px;
}

.element .ellipse-19 {
  position: relative;
  width: 101.78px;
  height: 101.78px;
  margin-top: -17.53px;
  margin-bottom: -11.94px;
  margin-left: -24.28px;
  margin-right: -24.27px;
}

.element .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-bottom: -5.25px;
  margin-left: -23.38px;
  margin-right: -23.38px;
  color: #ec6b59;
  font-size: 24px;
  line-height: 15.6px;
  white-space: nowrap;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
  top: -20px;
}

.element .frame-7 {
  display: flex;
  flex-direction: column;
  width: 51px;
  height: 72px;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 390px;
  left: 576px;
}

.element .frame-8 {
  display: flex;
  flex-direction: column;
  width: 89px;
  height: 72px;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 292px;
  left: 427px;
}

.element .ellipse-20 {
  position: relative;
  width: 101.78px;
  height: 101.78px;
  margin-top: -17.53px;
  margin-bottom: -11.94px;
  margin-left: -6.18px;
  margin-right: -6.18px;
}

.element .text-wrapper-5 {
  position: relative;
  width: 140px;
  margin-bottom: -57.25px;
  margin-left: -25.28px;
  margin-right: -25.28px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #ec6b59;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
  top: -28px;
}

.element .text-wrapper-6 {
  position: absolute;
  top: 376px;
  left: 99px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #e82b49;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 130px;
  left: 86px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #e82b49;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-8 {
  position: absolute;
  width: 112px;
  top: 260px;
  left: 1059px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #e82b49;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .ellipse-21 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 222px;
  left: 215px;
  background-color: #ea5f4d;
  border-radius: 62.46px/62.39px;
}

.element .text-wrapper-9 {
  position: absolute;
  width: 49px;
  top: 252px;
  left: 252px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-10 {
  position: absolute;
  width: 51px;
  top: 252px;
  left: 901px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-9 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 298px;
  left: 456px;
}

.element .frame-10 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 396px;
  left: 585px;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 1301px;
  height: 483px;
  top: 1206px;
  left: 317px;
}

.element .overlap-3 {
  position: relative;
  width: 1398px;
  height: 644px;
  top: -125px;
}

.element .overlap-4 {
  position: absolute;
  width: 1217px;
  height: 644px;
  top: 0;
  left: 181px;
}

.element .frame-11 {
  position: absolute;
  width: 436px;
  height: 436px;
  top: 208px;
  left: 781px;
}

.element .ellipse-22 {
  position: absolute;
  width: 316px;
  height: 316px;
  top: 119px;
  left: 304px;
  background-color: #fafefe;
  border-radius: 158px;
  border: 48px solid;
  border-color: #f5dcddc4;
}

.element .ellipse-23 {
  position: absolute;
  width: 174px;
  height: 174px;
  top: 195px;
  left: 372px;
  background-color: #ffffff;
  border-radius: 87px;
}

.element .frame-12 {
  position: absolute;
  width: 148px;
  height: 148px;
  top: 203px;
  left: 388px;
}

.element .ellipse-24 {
  position: absolute;
  width: 519px;
  height: 519px;
  top: 0;
  left: 202px;
}

.element .frame-13 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 508px;
  left: 0;
}

.element .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-12 {
  position: relative;
  width: 303px;
  font-family: "MiSans-Normal", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 24px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-15 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 509px;
  left: 649px;
}

.element .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-13 {
  width: 303px;
  font-family: "MiSans-Normal", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  letter-spacing: 0;
  position: relative;
  font-size: 24px;
  line-height: normal;
}

.element .frame-17 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 343px;
  left: 751px;
}

.element .text-wrapper-14 {
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  letter-spacing: 0;
  position: relative;
  font-size: 24px;
  line-height: normal;
}

.element .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 149px;
  left: 805px;
}

.element .div-wrapper {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 149px;
  left: 197px;
}

.element .frame-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(234, 244, 253) 0%, rgb(188.1, 224.59, 255) 100%);
}

.element .frame-19 {
  position: relative;
  width: 36px;
  height: 36px;
  top: 6px;
  left: 6px;
}

.element .vector {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 2px;
  left: 2px;
}

.element .img-wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 149px;
  left: 686px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(234, 244, 253) 0%, rgb(188.1, 224.59, 255) 100%);
}

.element .frame-20 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 6px;
  left: 6px;
}

.element .frame-21 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 341px;
  left: 666px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(249, 241, 244) 0%, rgb(250, 221, 223) 100%);
}

.element .rectangle-8 {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 469px;
  left: 536px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(218, 223, 249) 0%, rgb(207, 209, 248) 71.24%, rgb(202, 203, 249) 100%);
}

.element .frame-22 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 475px;
  left: 542px;
}

.element .frame-23 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 341px;
  left: 207px;
}

.element .overlap-5 {
  width: 48px;
  height: 48px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(241, 237, 253) 0%, rgb(226, 217, 253) 100%);
}

.element .frame-24 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 4px;
  left: 4px;
}

.element .frame-25 {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 469px;
  left: 326px;
}

.element .overlap-6 {
  width: 48px;
  height: 48px;
  border-radius: 15.11px;
  box-shadow: -7px 14px 5px #1015880f;
  background: linear-gradient(180deg, rgb(202.5, 255, 236.9) 0%, rgb(211, 245, 234) 100%);
}

.element .frame-26 {
  position: relative;
  width: 47px;
  height: 47px;
  top: 1px;
}

.element .frame-27 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 5px;
  left: 6px;
}

.element .frame-28 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 147px;
  left: 0;
}

.element .frame-29 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 341px;
  left: 51px;
}

.element .div-3 {
  width: 303px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  text-align: right;
  position: relative;
  font-size: 24px;
  line-height: normal;
}

.element .text-wrapper-15 {
  letter-spacing: 0;
}

.element .text-wrapper-16 {
  letter-spacing: -0.72px;
}

.element .frame-30 {
  position: absolute;
  width: 330px;
  height: 339px;
  top: 2078px;
  left: 1220px;
}

.element .frame-31 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 0;
  left: -91px;
}

.element .frame-32 {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
  background: linear-gradient(180deg, rgb(218, 223, 249) 0%, rgb(207, 209, 248) 71.24%, rgb(202, 203, 249) 100%);
}

.element .frame-33 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28.8px;
  white-space: nowrap;
}

.element .frame-34 {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  align-items: flex-start;
  gap: 6px 6px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Normal", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-19 {
  position: relative;
  width: fit-content;
  font-family: "MiSans-Normal", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-35 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 185px;
  left: -25px;
}

.element .frame-36 {
  background: linear-gradient(180deg, rgb(219.12, 228.99, 249) 0%, rgb(149.4, 182.31, 249) 100%);
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
}

.element .frame-37 {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 7px;
  left: 7px;
}

.element .frame-38 {
  width: 342px;
  gap: 6px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-39 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 370px;
  left: -91px;
}

.element .frame-40 {
  background: linear-gradient(180deg, rgb(204, 254, 237) 0%, rgb(210, 246, 234) 100%);
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
}

.element .frame-41 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 7px;
  left: 7px;
}

.element .frame-42 {
  width: 294px;
  gap: 6px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-43 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 2078px;
  left: 433px;
}

.element .frame-44 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-45 {
  width: 264px;
  justify-content: flex-end;
  gap: 4px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-46 {
  background: linear-gradient(180deg, rgb(255, 229, 183) 0%, rgb(255, 225, 162) 100%);
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
}

.element .frame-47 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 2261px;
  left: 332px;
}

.element .frame-48 {
  width: 297px;
  justify-content: flex-end;
  gap: 4px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-49 {
  background: linear-gradient(180deg, rgb(228, 242, 253) 0%, rgb(189, 225, 255) 100%);
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
}

.element .frame-50 {
  display: inline-flex;
  align-items: flex-start;
  gap: 18px;
  position: absolute;
  top: 2444px;
  left: 393px;
}

.element .frame-51 {
  width: 302px;
  justify-content: flex-end;
  gap: 4px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-52 {
  background: linear-gradient(180deg, rgb(249, 238, 241) 0%, rgb(250, 221, 223) 100%);
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10.67px;
  box-shadow: -4.94px 9.88px 3.53px #1015880f;
}

.element .ellipse-25 {
  position: absolute;
  width: 395px;
  height: 395px;
  top: 2110px;
  left: 747px;
  border-radius: 197.5px;
  border: 1px dashed;
  border-color: #ff9e9e;
  background: linear-gradient(180deg, rgb(254, 243.66, 243) 0%, rgb(252, 200.67, 197) 100%);
}

.element .ellipse-26 {
  position: absolute;
  width: 455px;
  height: 455px;
  top: 2080px;
  left: 717px;
  border-radius: 227.5px;
  border: 1px dashed;
  border-color: #ff9e9e;
}

.element .star {
  position: absolute;
  width: 185px;
  height: 211px;
  top: 2202px;
  left: 852px;
}

.element .text-wrapper-20 {
  position: absolute;
  top: 2246px;
  left: 895px;
  color: var(--variable-collection);
  font-size: 24px;
  line-height: 28.8px;
  white-space: nowrap;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.element .text-wrapper-21 {
  position: absolute;
  width: 92px;
  top: 2283px;
  left: 899px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
}

.element .arrow {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 2183px;
  left: 847px;
}

.element .arrow-2 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 2183px;
  left: 1011px;
}

.element .arrow-3 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 2396px;
  left: 847px;
}

.element .arrow-4 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 2396px;
  left: 1011px;
}

.element .arrow-5 {
  position: absolute;
  width: 49px;
  height: 23px;
  top: 2290px;
  left: 791px;
}

.element .arrow-6 {
  position: absolute;
  width: 49px;
  height: 23px;
  top: 2290px;
  left: 1054px;
}

.element .frame-53 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 559px;
  left: 1069px;
}

.element .view {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 2668px;
  left: 0;
  overflow: hidden;
}

.element .frame-54 {
  position: relative;
  width: 1976px;
  height: 1104px;
  top: -324px;
  left: -56px;
}

.element .overlap-group-2 {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 324px;
  left: 56px;
  background-color: #e92d4a;
}

.element .frame-55 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 75px;
  left: 370px;
}

.element .frame-56 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.element .rectangle-9 {
  position: relative;
  width: 2px;
  height: 36px;
  background-color: #d9d9d9;
  opacity: 0.77;
}

.element .frame-57 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-23 {
  position: relative;
  width: 641px;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-58 {
  display: inline-flex;
  align-items: flex-start;
  gap: 59px;
  position: relative;
  flex: 0 0 auto;
}

.element .div-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.96px;
  line-height: normal;
}

.element .text-wrapper-24 {
  letter-spacing: 0.15px;
}

.element .rectangle-10 {
  position: relative;
  width: 1180px;
  height: 1px;
  background-color: #d9d9d9;
}

.element .frame-59 {
  display: inline-flex;
  align-items: flex-start;
  gap: 68px;
  position: relative;
  flex: 0 0 auto;
}

.element .logo-2 {
  position: relative;
  width: 170px;
  height: 114.06px;
}

.element .frame-60 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-25 {
  position: relative;
  width: 64px;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-26 {
  position: relative;
  width: fit-content;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .element-pic {
  position: absolute;
  width: 94px;
  height: 127px;
  top: 196px;
  left: 1456px;
}

.element .rectangle-11 {
  position: absolute;
  width: 79px;
  height: 17px;
  top: 293px;
  left: 1464px;
  background-color: #ffffff;
}

.element .text-wrapper-28 {
  position: absolute;
  top: 292px;
  left: 1466px;
  opacity: 0.6;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: 12px;
}

.element .img-2 {
  position: absolute;
  width: 1104px;
  height: 1961px;
  top: -701px;
  left: 4070px;
  object-fit: cover;
}

.element .div-5 {
  position: absolute;
  width: 1920px;
  height: 720px;
  top: 0;
  left: 0;
}

.element .div-6 {
  position: relative;
  height: 720px;
  background-color: #f6f3f4;
  overflow: hidden;
}

.element .rectangle-12 {
  position: absolute;
  width: 947px;
  height: 526px;
  top: 194px;
  left: 973px;
}

.element .rectangle-13 {
  position: absolute;
  width: 1181px;
  height: 720px;
  top: 0;
  left: 0;
}

.element .img-3 {
  position: absolute;
  width: 1920px;
  height: 720px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.element .frame-61 {
  position: absolute;
  width: 106px;
  height: 12px;
  top: 653px;
  left: 906px;
}

.element .frame-62 {
  position: absolute;
  width: 550px;
  height: 119px;
  top: 311px;
  left: 1113px;
}

.element .r {
  position: absolute;
  width: 208px;
  height: 2px;
  top: -91px;
  left: 229px;
  background-color: var(--variable-collection);
}

.element .frame-63 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 28px;
  position: absolute;
  top: -43px;
  left: 21px;
}

.element .text-wrapper-29 {
  position: relative;
  width: 180px;
  font-family: "MaoKenWangFengYaSong-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 29px;
  letter-spacing: -0.87px;
  line-height: normal;
}

.element .text-wrapper-30 {
  position: relative;
  width: 300px;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.element .top {
  position: absolute;
  width: 1920px;
  height: 80px;
  top: 0;
  left: 0;
}

.element .top-2 {
  height: 80px;
  background-color: #f9e3e2;
  backdrop-filter: blur(16.9px) brightness(100%);
  -webkit-backdrop-filter: blur(16.9px) brightness(100%);
}

.element .overlap-group-3 {
  position: relative;
  width: 1920px;
  height: 80px;
}

.element .frame-64 {
  position: absolute;
  width: 1180px;
  height: 63px;
  top: 9px;
  left: 370px;
}

.element .frame-65 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 20px;
  left: 486px;
}

.element .text-wrapper-31 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ca0032;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .logo-3 {
  position: absolute;
  width: 60px;
  height: 54px;
  top: 4px;
  left: 0;
}

.element .div-7 {
  position: absolute;
  width: 994px;
  height: 2191px;
  top: 1870px;
  left: 409px;
  background-color: #b8cdff;
  border-radius: 496.76px/1095.36px;
  filter: blur(543.66px);
  opacity: 0.12;
}

.element .free-logo-sign {
  position: absolute;
  width: 2437px;
  height: 1108px;
  top: 2542px;
  left: 1536px;
}

.element .rectangle-14 {
  position: absolute;
  width: 377px;
  height: 2px;
  top: 866px;
  left: 377px;
  background-color: #ffffff;
}

.element .frame-66 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 1127px;
  left: 845px;
}
