.element {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .frame-wrapper {
  background-color: #f9f9f9;
  width: 1920px;
  height: 4725px;
}

.element .frame {
  position: relative;
  height: 4725px;
  overflow: hidden;
}

.element .div {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}

.element .div-2 {
  position: relative;
  height: 1080px;
}

.element .overlap {
  position: absolute;
  width: 1920px;
  height: 1000px;
  top: 80px;
  left: 0;
  background-image: url(./img/2024-05-14-00-54-54-1.png);
  background-size: 100% 100%;
}

.element .frame-2 {
  position: relative;
  width: 1038px;
  height: 530px;
  top: 258px;
  left: 370px;
}

.element .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.element .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Heavy", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 5.76px;
  line-height: 115.2px;
  white-space: nowrap;
}

.element .p {
  position: relative;
  width: fit-content;
  font-family: "MaoKenWangFengYaSong-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 57.6px;
  white-space: nowrap;
}

.element .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 76.8px;
  white-space: nowrap;
}

.element .rectangle {
  position: absolute;
  width: 377px;
  height: 2px;
  top: 528px;
  left: 7px;
  background-color: #ffffff;
}

.element .top {
  background-color: #e32347;
  box-shadow: 0px 4px 18.3px #46050533;
  backdrop-filter: blur(16.9px) brightness(100%);
  -webkit-backdrop-filter: blur(16.9px) brightness(100%);
  position: absolute;
  width: 1920px;
  height: 80px;
  top: 0;
  left: 0;
}

.element .overlap-group {
  position: relative;
  height: 80px;
}

.element .frame-5 {
  position: absolute;
  width: 1180px;
  height: 63px;
  top: 9px;
  left: 370px;
}

.element .frame-6 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 20px;
  left: 486px;
}

.element .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .logo {
  position: absolute;
  width: 60px;
  height: 54px;
  top: 4px;
  left: 0;
}

.element .img {
  position: absolute;
  width: 1920px;
  height: 80px;
  top: 0;
  left: 0;
}

.element .overlap-2 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 1080px;
  left: 0;
}

.element .free-logo-sign {
  position: absolute;
  width: 1284px;
  height: 768px;
  top: 312px;
  left: 0;
}

.element .frame-7 {
  position: relative;
  width: 1179px;
  height: 628px;
  top: 230px;
  left: 381px;
}

.element .text-wrapper-4 {
  position: absolute;
  top: 51px;
  left: 971px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #f6013e;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-5 {
  position: absolute;
  width: 291px;
  top: 144px;
  left: 888px;
  font-family: "MaoKenWangFengYaSong-Regular", Helvetica;
  font-weight: 400;
  color: #f8003d;
  font-size: 29px;
  text-align: right;
  letter-spacing: -0.87px;
  line-height: normal;
}

.element .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  position: absolute;
  width: 561px;
  height: 189px;
  top: 254px;
  left: 618px;
}

.element .text {
  position: relative;
  align-self: stretch;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 16px;
  text-align: justify;
  line-height: 24px;
}

.element .span {
  letter-spacing: 0.15px;
}

.element .text-wrapper-6 {
  letter-spacing: 0;
}

.element .div-wrapper {
  display: inline-flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  position: absolute;
  top: 512px;
  left: 1035px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ef0341;
}

.element .text-wrapper-7 {
  position: relative;
  width: 96px;
  margin-top: -1px;
  font-family: "MiSans-Semibold", Helvetica;
  font-weight: 400;
  color: #ef0341;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-8 {
  position: absolute;
  top: 50px;
  left: -80px;
  -webkit-text-stroke: 1px #e92d4a;
  opacity: 0.2;
  font-family: "MiSans-Heavy", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 119px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-8 {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 4964px;
  left: -11px;
}

.element .frame-9 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 2160px;
  left: 0;
}

.element .overlap-3 {
  position: absolute;
  width: 1246px;
  height: 625px;
  top: 3468px;
  left: 332px;
}

.element .overlap-4 {
  position: absolute;
  width: 1246px;
  height: 625px;
  top: 0;
  left: 0;
}

.element .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 630px;
  -webkit-text-stroke: 1px #e92d4a;
  opacity: 0.2;
  font-family: "MiSans-Heavy", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 119px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-10 {
  position: absolute;
  width: 1246px;
  height: 488px;
  top: 137px;
  left: 0;
}

.element .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13.83px;
  position: absolute;
  top: 93px;
  left: 38px;
}

.element .frame-12 {
  display: inline-flex;
  align-items: flex-start;
  gap: 20.91px;
  position: relative;
  flex: 0 0 auto;
}

.element .frame-13 {
  position: relative;
  width: 179.5px;
  height: 91.49px;
  background-color: #ffffff;
  border-radius: 8.71px;
  border: 0.87px solid;
  border-color: #1f21290d;
}

.element .image {
  position: absolute;
  width: 80px;
  height: 40px;
  top: 24px;
  left: 49px;
}

.element .image-2 {
  position: absolute;
  width: 64px;
  height: 51px;
  top: 20px;
  left: 57px;
}

.element .image-3 {
  position: absolute;
  width: 111px;
  height: 40px;
  top: 25px;
  left: 33px;
}

.element .img-2 {
  position: absolute;
  width: 107px;
  height: 36px;
  top: 27px;
  left: 36px;
}

.element .image-4 {
  position: absolute;
  width: 56px;
  height: 45px;
  top: 23px;
  left: 61px;
}

.element .img-wrapper {
  position: relative;
  width: 179.5px;
  height: 91.49px;
  background-color: #ffffff;
  border-radius: 8.71px;
  overflow: hidden;
  border: 0.87px solid;
  border-color: #1f21290d;
}

.element .image-5 {
  position: absolute;
  width: 77px;
  height: 46px;
  top: 23px;
  left: 51px;
  object-fit: cover;
}

.element .frame-14 {
  display: flex;
  flex-wrap: wrap;
  width: 1219.9px;
  align-items: flex-start;
  gap: 0px 20.91px;
  position: relative;
  flex: 0 0 auto;
}

.element .image-6 {
  position: absolute;
  width: 112px;
  height: 75px;
  top: 8px;
  left: 32px;
  object-fit: cover;
}

.element .image-7 {
  position: absolute;
  width: 82px;
  height: 60px;
  top: 16px;
  left: 48px;
  object-fit: cover;
}

.element .image-8 {
  position: absolute;
  width: 80px;
  height: 57px;
  top: 17px;
  left: 49px;
  object-fit: cover;
}

.element .img-3 {
  position: absolute;
  width: 62px;
  height: 45px;
  top: 23px;
  left: 57px;
  object-fit: cover;
}

.element .yunifang {
  position: absolute;
  width: 82px;
  height: 58px;
  top: 17px;
  left: 48px;
  object-fit: cover;
}

.element .overlap-group-wrapper {
  position: relative;
  width: 179.5px;
  height: 91.49px;
  overflow: hidden;
}

.element .image-wrapper {
  position: relative;
  width: 182px;
  height: 93px;
  background-color: #ffffff;
  border-radius: 8.82px;
  border: 0.88px solid;
  border-color: #1f21290d;
}

.element .image-9 {
  position: absolute;
  width: 128px;
  height: 91px;
  top: -1px;
  left: 24px;
  object-fit: cover;
}

.element .frame-15 {
  display: inline-flex;
  align-items: flex-end;
  gap: 20.91px;
  position: relative;
  flex: 0 0 auto;
}

.element .bosideng {
  position: absolute;
  width: 82px;
  height: 39px;
  top: 26px;
  left: 48px;
  object-fit: cover;
}

.element .powerfulsuperman {
  position: absolute;
  width: 113px;
  height: 42px;
  top: 24px;
  left: 32px;
  object-fit: cover;
}

.element .image-10 {
  position: absolute;
  width: 119px;
  height: 65px;
  top: 13px;
  left: 30px;
  object-fit: cover;
}

.element .element-f-c {
  position: absolute;
  width: 82px;
  height: 40px;
  top: 25px;
  left: 48px;
}

.element .element-db-db-c {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 18px;
  left: 62px;
  object-fit: cover;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 30px;
  left: 60px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20.9px;
  letter-spacing: -1.25px;
  line-height: normal;
}

.element .rectangle-2 {
  position: absolute;
  width: 154px;
  height: 322px;
  top: 135px;
  left: -116px;
  transform: rotate(180deg);
  background: linear-gradient(180deg, rgb(248, 248, 248) 0%, rgba(248, 248, 248, 0) 100%);
}

.element .frame-16 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  position: absolute;
  top: 2px;
  left: 38px;
}

.element .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "MaoKenWangFengYaSong-Regular", Helvetica;
  font-weight: 400;
  color: #f6013e;
  font-size: 29px;
  letter-spacing: -0.87px;
  line-height: normal;
}

.element .div-3 {
  position: absolute;
  width: 1977px;
  height: 3514px;
  top: 5375px;
  left: 108px;
}

.element .view {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 4327px;
  left: 0;
  overflow: hidden;
}

.element .frame-17 {
  position: relative;
  width: 1976px;
  height: 1104px;
  top: -324px;
  left: -56px;
}

.element .overlap-group-2 {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 324px;
  left: 56px;
  background-color: #e92d4a;
}

.element .frame-18 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 75px;
  left: 370px;
}

.element .frame-19 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.element .rectangle-3 {
  position: relative;
  width: 2px;
  height: 36px;
  background-color: #d9d9d9;
  opacity: 0.77;
}

.element .frame-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-14 {
  position: relative;
  width: 641px;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-21 {
  display: inline-flex;
  align-items: flex-start;
  gap: 59px;
  position: relative;
  flex: 0 0 auto;
}

.element .div-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.96px;
  line-height: normal;
}

.element .rectangle-4 {
  position: relative;
  width: 1180px;
  height: 1px;
  background-color: #d9d9d9;
}

.element .frame-22 {
  display: inline-flex;
  align-items: flex-start;
  gap: 68px;
  position: relative;
  flex: 0 0 auto;
}

.element .logo-2 {
  position: relative;
  width: 170px;
  height: 114.06px;
}

.element .frame-23 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-15 {
  position: relative;
  width: 64px;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-16 {
  position: relative;
  width: fit-content;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .element-pic {
  position: absolute;
  width: 94px;
  height: 127px;
  top: 196px;
  left: 1456px;
}

.element .rectangle-5 {
  position: absolute;
  width: 79px;
  height: 17px;
  top: 293px;
  left: 1464px;
  background-color: #ffffff;
}

.element .text-wrapper-18 {
  position: absolute;
  top: 292px;
  left: 1466px;
  opacity: 0.6;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: 12px;
}

.element .img-4 {
  position: absolute;
  width: 1104px;
  height: 1961px;
  top: -1640px;
  left: 8948px;
  object-fit: cover;
}
