.element {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #f9f9f9;
  width: 1920px;
  height: 2389px;
  position: relative;
}

.element .div-2 {
  position: absolute;
  width: 1920px;
  height: 720px;
  top: 0;
  left: 0;
}

.element .div-3 {
  position: relative;
  height: 720px;
  background-color: #f6f3f4;
  overflow: hidden;
}

.element .overlap {
  position: absolute;
  width: 1920px;
  height: 640px;
  top: 80px;
  left: 0;
}

.element .element-wrapper {
  position: absolute;
  width: 1920px;
  height: 640px;
  top: 0;
  left: 0;
  background-image: url(./img/2024-06-03-01-29-3522-1-1.png);
  background-size: 100% 100%;
}

.element .img {
  position: absolute;
  width: 1920px;
  height: 640px;
  top: 0;
  left: 0;
}

.element .frame {
  position: absolute;
  width: 106px;
  height: 12px;
  top: 573px;
  left: 906px;
}

.element .div-4 {
  position: absolute;
  width: 994px;
  height: 2191px;
  top: 1870px;
  left: 409px;
  background-color: #b8cdff;
  border-radius: 496.76px/1095.36px;
  filter: blur(543.66px);
  opacity: 0.12;
}

.element .rectangle {
  position: absolute;
  width: 377px;
  height: 2px;
  top: 866px;
  left: 377px;
  background-color: #ffffff;
}

.element .top {
  position: absolute;
  width: 1920px;
  height: 80px;
  top: 0;
  left: 0;
}

.element .overlap-group-wrapper {
  height: 80px;
  background-color: #f9e3e2;
  backdrop-filter: blur(16.9px) brightness(100%);
  -webkit-backdrop-filter: blur(16.9px) brightness(100%);
}

.element .overlap-group {
  position: relative;
  width: 1920px;
  height: 80px;
}

.element .frame-2 {
  position: absolute;
  width: 1180px;
  height: 63px;
  top: 9px;
  left: 370px;
}

.element .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: absolute;
  top: 20px;
  left: 486px;
}

.element .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ca0032;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.element .logo {
  position: absolute;
  width: 60px;
  height: 54px;
  top: 4px;
  left: 0;
}

.element .rectangle-2 {
  position: absolute;
  width: 208px;
  height: 2px;
  top: 220px;
  left: 1342px;
  background-color: var(--variable-collection);
}

.element .frame-4 {
  display: flex;
  width: 500px;
  align-items: center;
  gap: 70px;
  position: absolute;
  top: 268px;
  left: 1128px;
}

.element .text-wrapper-2 {
  position: relative;
  width: 124px;
  font-family: "MaoKenWangFengYaSong-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection);
  font-size: 29px;
  letter-spacing: -0.87px;
  line-height: normal;
}

.element .text-wrapper-3 {
  position: relative;
  width: 208px;
  margin-top: -1px;
  margin-right: -3px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection);
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-wrapper {
  position: absolute;
  width: 1920px;
  height: 1151px;
  top: 720px;
  left: 0;
  background-color: #f9f9f9;
}

.element .frame-5 {
  position: relative;
  width: 1177px;
  height: 1031px;
  top: 120px;
  left: 370px;
}

.element .text-wrapper-4 {
  position: absolute;
  top: -1px;
  left: 226px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #1e2028;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.element .overlap-2 {
  position: absolute;
  width: 1176px;
  height: 283px;
  top: 147px;
  left: 0;
}

.element .frame-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 2px;
  left: 0;
}

.element .heading {
  position: relative;
  width: 68px;
  height: 33px;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #1e2028;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.element .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #1e2028;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.element .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #1e2028;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.element .heading-2 {
  position: relative;
  width: 96px;
  height: 33px;
  margin-top: -1px;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #1e2028;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 38.4px;
  white-space: nowrap;
}

.element .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 569px;
  -webkit-text-stroke: 1px #e92d4a;
  opacity: 0.2;
  font-family: "MiSans-Heavy", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 119px;
  letter-spacing: 0;
  line-height: normal;
}

.element .div-wrapper {
  position: absolute;
  width: 1180px;
  height: 554px;
  top: 478px;
  left: 0;
  background-color: #d9d9d9;
}

.element .overlap-group-2 {
  position: relative;
  height: 553px;
  background-image: url(https://s21.ax1x.com/2024/06/26/pkylPY9.jpg);
  background-size: 100% 100%;
}

.element .line {
  position: absolute;
  width: 154px;
  height: 3px;
  top: 183px;
  left: 518px;
}

.element .polygon {
  position: absolute;
  width: 16px;
  height: 8px;
  top: 186px;
  left: 588px;
}

.element .view {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 1991px;
  left: 0;
  overflow: hidden;
}

.element .frame-8 {
  position: relative;
  width: 1976px;
  height: 1104px;
  top: -324px;
  left: -56px;
}

.element .overlap-group-3 {
  position: absolute;
  width: 1920px;
  height: 398px;
  top: 324px;
  left: 56px;
  background-color: #e92d4a;
}

.element .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 75px;
  left: 370px;
}

.element .frame-10 {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-8 {
  font-family: "MiSans-Demibold", Helvetica;
  color: #ffffff;
  font-size: 40px;
  line-height: normal;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  letter-spacing: 0;
}

.element .rectangle-3 {
  position: relative;
  width: 2px;
  height: 36px;
  background-color: #d9d9d9;
  opacity: 0.77;
}

.element .frame-11 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-9 {
  position: relative;
  width: 641px;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-12 {
  display: inline-flex;
  align-items: flex-start;
  gap: 59px;
  position: relative;
  flex: 0 0 auto;
}

.element .div-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MiSans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.96px;
  line-height: normal;
}

.element .span {
  letter-spacing: 0.15px;
}

.element .rectangle-4 {
  position: relative;
  width: 1180px;
  height: 1px;
  background-color: #d9d9d9;
}

.element .frame-13 {
  display: inline-flex;
  align-items: flex-start;
  gap: 68px;
  position: relative;
  flex: 0 0 auto;
}

.element .logo-2 {
  position: relative;
  width: 170px;
  height: 114.06px;
}

.element .frame-14 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.element .text-wrapper-10 {
  position: relative;
  width: 64px;
  margin-top: -1px;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-12 {
  margin-top: -1px;
  position: relative;
  width: fit-content;
  font-family: "MiSans-Demibold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.element .element-pic {
  position: absolute;
  width: 94px;
  height: 127px;
  top: 196px;
  left: 1456px;
}

.element .rectangle-5 {
  position: absolute;
  width: 79px;
  height: 17px;
  top: 293px;
  left: 1464px;
  background-color: #ffffff;
}

.element .text-wrapper-13 {
  position: absolute;
  top: 292px;
  left: 1466px;
  opacity: 0.6;
  font-family: "MiSans-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.6px;
  line-height: 12px;
}

.element .img-2 {
  position: absolute;
  width: 1104px;
  height: 1961px;
  top: 696px;
  left: -2923px;
  object-fit: cover;
}
